# postgres
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# spotify
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=

# 32 char secret key
COOKIE_SECRET_KEY=

# frontend
ALLOWED_ORIGINS=http://localhost:3000
ALLOWED_HOSTS=*

VITE_API_URL=http://localhost:8080
VITE_CONTACT_EMAIL=

# release sync job
RELEASE_SYNC_JOB='0 0 0/4 ? * * *'

# sendgrid
EMAIL_JOB='0 0 8 ? * MON *'
EMAIL_API_KEY=
EMAIL_FROM=
EMAIL_FROM_NAME=
EMAIL_FEED_URL=
EMAIL_LOGO_URL=