# postgres
POSTGRES_DB=soundfeed
POSTGRES_USER=
POSTGRES_PASSWORD=

# spotify
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=

# 32 char secret key
COOKIE_SECRET_KEY=

ALLOWED_ORIGINS=http://localhost:3000
ALLOWED_HOSTS=*

# contact email
VITE_CONTACT_EMAIL=

# release sync job (every 4 hours)
RELEASE_SYNC_JOB=0 0 0/4 ? * * *

